<div class="container">
  <div class="row">
    <div class="col-4">
      <%= profile_picture(@account, 'profile-pic') %>
    </div>
    <div class="col-8" style= "text-align: left">
      <div class="row">
        <div class="col-7">
          <%= link_to 'Edit Profile', edit_account_registration_path, class: "btn btn-muted btn-custom float-end" if can_edit_profile?(@account.id) %>
          <h1> <%= @account.full_name %> </h1>
        </div>
      </div>
      <div class="row profile-stats">
          <div class="col-4"><%= @account.posts.count%> posts</div>
        <div class="col-4"><%= @account.total_followers%> followers</div>
        <div class="col-4"><%= @account.total_following%> following</div>
      </div>
      <p><%= @account.full_name %></p>
      <p><%= simple_format @account.description %></p>
      <p><%= link_to @account.website if @account.website.present? %></p>

    </div>
  </div>
  <div class="row profile-posts">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="insta-post">
          <%= link_to image_tag(post.images[0], style: "max-width: 100%; min-width: 100%; height: auto; object-fit: contain;"), post_path(post) if post.images.present? %>
        </div>
      </div>
    <% end %>
  </div>
</div>